<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BilgisayarKontrol.KullaniciBilgileri" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BilgisayarKontrol.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BilgisayarKontrol.KullaniciBilgileri>
            <setting name="KullaniciVarmi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KullaniciSifre" serializeAs="String">
                <value />
            </setting>
            <setting name="KullaniciAdi" serializeAs="String">
                <value />
            </setting>
            <setting name="YardimGösterilsinmi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GizliCevap" serializeAs="String">
                <value />
            </setting>
        </BilgisayarKontrol.KullaniciBilgileri>
        <BilgisayarKontrol.Settings1>
            <setting name="Yardim" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UygulamaKapatilirkenSifreİstensinmi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CmdEngellensinmi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunEngellensinmi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GörevYöneticisiEngellensinmi" serializeAs="String">
                <value>0</value>
            </setting>
        </BilgisayarKontrol.Settings1>
    </userSettings>
</configuration>